.btn-sign-up {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px;
    background-color: #448aff;
    border-color: #448aff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    width: 100%;
}

.text-select {
    font-size: 14px;
    margin-left: 10px;
}