.upload-images {
    .upload-form-control {
        align-items: center;
        display: flex;
        margin-top: 10px;
    }

    .upload-button {
        align-items: center;
        border: 1px solid #56AAFF;
        color: #56aaff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        padding: 5px 10px;
        width: 170px;

        span {
            margin-left: 10px;
        }
    }

    .images-preview {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .image-item {
        height: 100px;
        margin-left: 10px;
        padding: 5px 0;
        position: relative;
        width: 100px;

        img {
            width: 100%;
            height: 100%;
        }

        &--close {
            background: #cccccc;
            border-radius: 50%;
            border: none;
            color: #FFFFFF;
            font-size: 0.75rem;
            font-weight: 600;
            padding: 2px 4px;
            position: absolute;
            right: 5px;
            top: 5px;
            z-index: 10;
        }
    }
}